https://ws.audioscrobbler.com/2.0/?method=tag.getsimilar&tag=disco&api_key=6c237b08ecb776685d6b1dbea19210ad&format=json

6c237b08ecb776685d6b1dbea19210ad

https://ws.audioscrobbler.com/2.0/?method=tag.gettoptracks&tag=rock&api_key=6c237b08ecb776685d6b1dbea19210ad&format=json

exp://10.0.11.194:8081